body {
  display: grid;
  margin: 0;
  font-family: "Inter", sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: darkcyan;
}

nav > ul {
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  margin: 0;
  list-style: none;
  gap: 0.3em;
  margin: 0.2em;
}

nav > ul > li {
  padding: 0.5em;
  color: aliceblue;
  border-left: 1px solid white;
}
nav > ul > li:nth-child(1) {
  border-left: none;
}

nav > ul > li:hover {
  cursor: pointer;
  color: #000;
  text-decoration: underline;
}
